* {
    font-family: Segoe UI, Arial, system-ui,-apple-system,Roboto,Helvetica,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    padding: 0;
    margin: 0;
    color: black;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-family: "consolas", "Lucida Console", "Courier New", monospace;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    padding: 0px 15px 0px 15px;
    text-align: justify;
    margin-bottom: 10px;
}

#github-link{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    font-family: "consolas", "Lucida Console", "Courier New", monospace;
}

#navbar{
    height: 5vh;
    background-color: #34568B;
}

#welcomeDiv{
    height: 95vh;
    background-color: #34568B;
}

#heading{
    text-align: left;
    margin-left: 20vw;
    color: white;
    padding-top: 40vh;
    font-style: italic;
}

#footer{
    margin-top: 50px;
}

#footer *{
    text-align: center;
}

#react-link{
    font-family: "consolas", "Lucida Console", "Courier New", monospace;
}

.flexContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flexItem {
    display: flex;
}

.gridContainer {
    padding: 10px;
    display: grid;
    column-gap: 100px;
    grid-auto-flow: row;
}

.gridColumn {
    margin-top: 50px;
    text-align: center;
    box-shadow:  0px 0px 2px 2px #efefef;
}

@media (min-width: 75em){
    .gridContainer{
        grid-auto-flow: column;
    }
}